-server
-Xmx4G
-Xms4G
-XX:+HeapDumpOnOutOfMemoryError
-XX:+ExitOnOutOfMemoryError
-XX:+UseGCOverheadLimit
-XX:+UseStringDeduplication
-XX:+OptimizeStringConcat
-XX:+UseCompressedOops
-XX:+UseThreadPriorities
-XX:+PerfDisableSharedMem
-XX:MaxDirectMemorySize=32G
-XX:+UseLargePages
-XX:+UseTransparentHugePages
-XX:+AlwaysPreTouch
-XX:+UnlockExperimentalVMOptions
-XX:+UseZGC